.sticky {
  width: 2rem;
  height: 2rem;
  right: 0;
  padding-top: 1rem;
  &.is-anchored {
    margin-left: auto;
  }
  &.is-stuck {
    width: 2rem;
    height: 2rem;
    z-index: 11;
  }
  .menu-toggle {
    background: $midnight-blue;
    width: 2rem;
    height: 2rem;
    border-radius: $global-radius 0 0 $global-radius;
    padding: 0.5rem;
    span {
      @include hamburger($white, null, 11px, 10px, 1px);
    }
    &:hover {
      background: linear-gradient(161deg, $blue 0%, $dark-blue 100%);
    }
  }
  @include breakpoint(large) {
    right: auto;
    &.is-anchored {
      margin-left: 0;
    }
    .menu-toggle {
      width: rem-calc(66);
      height: rem-calc(66);
      background: transparentize($white, 1) !important;
      cursor: pointer;
      &:hover {
        .a, .b, .c {
          fill: $blue;
        }
      }
    }
  }
}

.off-canvas {
  .menu-toggle {
    cursor: pointer;
    transform: rotate(180deg);
    // margin: 1rem;
    opacity: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
  &:hover {
      .a, .b, .c {
        fill: $blue;
      }
    }
  }
  &.is-open {
    .menu-toggle {
      opacity: 1;
      transition: opacity 0.25s linear $offcanvas-transition-length;
      svg {
        width: 50px;
      }
      @include breakpoint(medium) {
        svg {
          width: 86px;
        }
      }
    }
  }
  .menu {
    text-align: center;
    height: 80%;
    margin-top: 20%;
    a {
      color: $body-font-color;
      &.is-active {
        font-weight: $global-weight-bold;
        color: $primary-color;
      }
    }
    @include breakpoint(large) {
      text-align: left;
      a {
        margin-left: 50px;
        font-size: 120%;
        border-left: 5px solid transparentize($white, 1);
        &:hover, &.is-active {
          border-left-color: $primary-color;
        }
      }
    }
  }
  .button-group {
    margin: 0;
    .button {
      color: $white;
      border-radius: 0;
      margin: 0;
      img {
        height: 32px;
      }
      &:hover {
        color: $white;
      }
    }
  }
}

.padded {
  padding-top: rem-calc(64);
  padding-bottom: rem-calc(64);
  @include breakpoint(medium) {
    padding-top: rem-calc(120);
    padding-bottom: rem-calc(120);
  }
}

.readmore {
  max-height: 90vh;
  position: relative;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  .readmore-panel {
    position: absolute;
    z-index: 1;
    width: calc(100% - 74px);
    height: 150px;
    background: linear-gradient(to bottom, transparentize($white, 1), $white 75%, $white 100%);
    top: calc(90vh - 150px);
    .readmore-button {
      cursor: pointer;
      position: absolute;
      width: 100%;
      bottom: 20px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
    }
    // .button {
    //   position: absolute;
    //   bottom: 0;
    // }
    .opened {
      display: none;
    }
    .closed {
      display: inline;
    }
    .arrow-down {
      margin-left: 10px;
      svg {
        transition: transform 200ms;
      }
    }
  }
  &.expanded {
    max-height: 150rem;
    transition: max-height 1s ease-in-out;
    .readmore-panel {
      position: relative;
      height: 50px;
      top: auto;
      width: auto;
      .opened {
        display: inline;
      }
      .closed {
        display: none;
      }
      .arrow-down svg {
        transform: rotateZ(180deg);
      }
    }
  }
  @include breakpoint(large) {
    max-height: none;
    .readmore-panel {
      display: none;
    }
  }
}
.swiper-button-prev, .swiper-button-next {
  height: auto;
  transform: translateY(-50%);
  margin-top: 0;
  color: #EE402D;
  &:after {
    font-size: 1rem;
  }
  @include breakpoint(medium) {
    display: none;
  }
}

.module {
  .lead {
    font-size: rem-calc(16px);
    text-transform: uppercase;
    font-weight: 700;
    color: #55606E; // $gray-600
  }
  .title {
    font-size: rem-calc(20);
    font-weight: 700;
    @include breakpoint(medium) {
      font-size: rem-calc(25);
    }
  }
  .smallText {
    font-size: rem-calc(16px);
    font-weight: 400;
    color: #55606E; // $gray-600
  }
}

#language-switcher {
  text-transform: uppercase;
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  margin-left: 12px;
  width: 150px;
  @include breakpoint(medium) {
    overflow-x: visible;
    width: 200px;
  }
  button {
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.28px;
    line-height: 1.64;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    // width: 200px;
    margin-left: 100px;
    transition: margin 200ms ease-in-out;
    &:hover {
      color: scale-color($white, $lightness: 20%);
    }
    @include breakpoint(medium) {
      margin-left: 0;
    }
    span {
      display: block;
      width: 0;
      overflow: hidden;
      opacity: 0;
      transform: translateX(100%);
      transition: width 200ms linear, transform 200ms ease 50ms, opacity 200ms linear;
      @include breakpoint(medium) {
        opacity: 1;
        width: auto;
        transform: translateX(0);
      }
    }
    svg {
      margin: 10px;
      &:last-child {
        transition: all 200ms ease-in-out;
      }
    }
  }
  .menu {
    position: absolute;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    background: $white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.09);
    width: 150px;
    left: 10px;
    margin-left: 20px;

    li {
      a {
        color: $black;
        font-weight: 600;
        padding: 14px;
        .downloadIcon {
          float: right;
          // @include breakpoint(medium) {
          //   margin-left: 12px;
          // }
          .arrow {
            transition: .2s all ease;
          }
        }
        &:hover {
          .downloadIcon .arrow {
            transform: translateY(-2px);
          }
        }
      }
      border-bottom: 1px solid #D4D6D8;
      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
  &.expanded {
    overflow-x: visible;
    button {
      color: scale-color($white, $lightness: 20%);
      margin-left: 0;
      span {
        opacity: 1;
        width: 60px;
        transform: translateX(0);
        text-align: left;
      }
      svg:last-child {
        transform: rotate(-180deg);
      }
    }
    .menu {
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}

.scroller {
  width: 45px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
