h2 {
  font-weight: map-get($map: $font-weights, $key: black);
  line-height: 1.125;
  + h3 {
    margin-top: -$header-margin-bottom;
    line-height: 1;
  }
}

p a {
  text-decoration: underline;
}

.blend-multiply {
  mix-blend-mode: multiply;
}

figcaption {
  margin-top: 1rem;
  // opacity: .6;
}