// photos
.bg-15_mourad_wahba_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -354px -0;
}
.bg-15_ulrika_modeer_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -504px -0;
}
.bg-24_olafur {
    width: 118px; height: 118px;
    background: url('../img/sprites-photos.png') -0 -0;
}
.bg-24_padma {
    width: 118px; height: 118px;
    background: url('../img/sprites-photos.png') -118px -0;
}
.bg-24_yemi {
    width: 118px; height: 118px;
    background: url('../img/sprites-photos.png') -236px -0;
}
.bg-15_abdoulaye_mar_dieye_icon {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -654px -0;
}
.bg-15_ahunna_eziakonwa_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -804px -0;
}
.bg-15_angelique_crumbly_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -954px -0;
}
.bg-15_asako_okai_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -1104px -0;
}
.bg-15_haoliang_xu_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -1254px -0;
}
.bg-15_kanni_wignaraja_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -1404px -0;
}
.bg-15_luis_felipe_lopez_calva_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -1554px -0;
}
.bg-15_mirjana_spoljarics_egger_image {
    width: 150px; height: 143px;
    background: url('../img/sprites-photos.png') -1704px -0;
}

// icons
.bg-19_highlights_bullet {
    width: 10px; height: 9px;
    background: url('../img/sprites-icons.png') -1029px -474px;
}
.bg-02_28million_icon {
    width: 115px; height: 73px;
    background: url('../img/sprites-icons.png') -581px -449px;
}
.bg-02_dollar_icon {
    width: 95px; height: 65px;
    background: url('../img/sprites-icons.png') -409px -173px;
}
.bg-02_earth_icon {
    width: 106px; height: 100px;
    background: url('../img/sprites-icons.png') -469px -374px;
}
.bg-02_femalegroup_icon {
    width: 108px; height: 94px;
    background: url('../img/sprites-icons.png') -1px -674px;
}
.bg-02_hand_plant_icon {
    width: 70px; height: 95px;
    background: url('../img/sprites-icons.png') -958px -575px;
}
.bg-02_justice_icon {
    width: 102px; height: 49px;
    background: url('../img/sprites-icons.png') -737px -608px;
}
.bg-02_nurse_icon {
    width: 65px; height: 97px;
    background: url('../img/sprites-icons.png') -958px -672px;
}
.bg-02_parliament_icon {
    width: 161px; height: 75px;
    background: url('../img/sprites-icons.png') -319px -530px;
}
.bg-02_people_group_icon {
    width: 113px; height: 99px;
    background: url('../img/sprites-icons.png') -737px -507px;
}
.bg-02_portfolio_icon {
    width: 121px; height: 98px;
    background: url('../img/sprites-icons.png') -737px -407px;
}
.bg-02_sdg_circle_icon {
    width: 101px; height: 99px;
    background: url('../img/sprites-icons.png') -1px -770px;
}
.bg-02_voters_icon {
    width: 107px; height: 83px;
    background: url('../img/sprites-icons.png') -503px -674px;
}
.bg-02_woman_icon {
    width: 84px; height: 94px;
    background: url('../img/sprites-icons.png') -958px -378px;
}
.bg-05_quote_sign {
    width: 69px; height: 99px;
    background: url('../img/sprites-icons.png') -958px -474px;
}
.bg-12_potential_reduction {
    width: 149px; height: 120px;
    background: url('../img/sprites-icons.png') -168px -530px;
}
.bg-12_smart_facility {
    width: 165px; height: 142px;
    background: url('../img/sprites-icons.png') -1px -530px;
}
.bg-12_solar_panels {
    width: 107px; height: 134px;
    background: url('../img/sprites-icons.png') -737px -271px;
}
.bg-12_usd {
    width: 44px; height: 61px;
    background: url('../img/sprites-icons.png') -873px -435px;
}
.bg-12_usd_1 {
    width: 83px; height: 116px;
    background: url('../img/sprites-icons.png') -873px -1px;
}
.bg-13_audit_icon {
    width: 57px; height: 58px;
    background: url('../img/sprites-icons.png') -873px -375px;
}
.bg-13_balanced_icon {
    width: 61px; height: 61px;
    background: url('../img/sprites-icons.png') -873px -249px;
}
.bg-13_efficiencies_icon {
    width: 60px; height: 61px;
    background: url('../img/sprites-icons.png') -873px -312px;
}
.bg-13_productivity_icon {
    width: 61px; height: 66px;
    background: url('../img/sprites-icons.png') -958px -771px;
}
.bg-14_earth_additional_icon {
    width: 62px; height: 61px;
    background: url('../img/sprites-icons.png') -873px -186px;
}
.bg-14_hours_icon {
    width: 61px; height: 65px;
    background: url('../img/sprites-icons.png') -873px -119px;
}
.bg-17_energy_house {
    width: 96px; height: 93px;
    background: url('../img/sprites-icons.png') -307px -674px;
}
.bg-17_energy_leaf {
    width: 96px; height: 93px;
    background: url('../img/sprites-icons.png') -405px -674px;
}
.bg-17_energy_logos {
    width: 406px; height: 65px;
    background: url('../img/sprites-icons.png') -173px -1px;
}
.bg-17_energy_sdgs {
    width: 156px; height: 27px;
    background: url('../img/sprites-icons.png') -359px -135px;
}
.bg-17_energy_solar {
    width: 96px; height: 95px;
    background: url('../img/sprites-icons.png') -505px -770px;
}
.bg-17_environment_dollar_icon {
    width: 94px; height: 93px;
    background: url('../img/sprites-icons.png') -958px -1px;
}
.bg-17_environment_earth_leaf_plug_icon {
    width: 96px; height: 94px;
    background: url('../img/sprites-icons.png') -111px -674px;
}
.bg-17_environment_icon {
    width: 96px; height: 94px;
    background: url('../img/sprites-icons.png') -209px -674px;
}
.bg-17_environment_logos {
    width: 406px; height: 65px;
    background: url('../img/sprites-icons.png') -173px -68px;
}
.bg-17_environment_sdg_icons {
    width: 184px; height: 29px;
    background: url('../img/sprites-icons.png') -173px -135px;
}
.bg-17_gender_female_icon {
    width: 97px; height: 96px;
    background: url('../img/sprites-icons.png') -208px -770px;
}
.bg-17_gender_hand_icon {
    width: 97px; height: 96px;
    background: url('../img/sprites-icons.png') -307px -770px;
}
.bg-17_gender_logos {
    width: 406px; height: 65px;
    background: url('../img/sprites-icons.png') -1px -173px;
}
.bg-17_gender_sdgs {
    width: 138px; height: 29px;
    background: url('../img/sprites-icons.png') -409px -240px;
}
.bg-17_gender_woman_icon {
    width: 97px; height: 96px;
    background: url('../img/sprites-icons.png') -406px -770px;
}
.bg-17_governance_arrow_bars {
    width: 93px; height: 92px;
    background: url('../img/sprites-icons.png') -958px -190px;
}
.bg-17_governance_fist_icon {
    width: 102px; height: 97px;
    background: url('../img/sprites-icons.png') -104px -770px;
}
.bg-17_governance_logos {
    width: 406px; height: 65px;
    background: url('../img/sprites-icons.png') -1px -240px;
}
.bg-17_governance_stephascope_icon {
    width: 93px; height: 92px;
    background: url('../img/sprites-icons.png') -958px -284px;
}
.bg-17_gov_sdg_icons {
    width: 120px; height: 29px;
    background: url('../img/sprites-icons.png') -409px -271px;
}
.bg-17_resilience_dove_icon {
    width: 96px; height: 95px;
    background: url('../img/sprites-icons.png') -603px -770px;
}
.bg-17_resilience_judge_mallot_icon {
    width: 96px; height: 95px;
    background: url('../img/sprites-icons.png') -701px -770px;
}
.bg-17_resilience_logos {
    width: 406px; height: 65px;
    background: url('../img/sprites-icons.png') -1px -307px;
}
.bg-17_resilience_megaphone_icon {
    width: 94px; height: 92px;
    background: url('../img/sprites-icons.png') -958px -96px;
}
.bg-17_resilience_sdg_icons {
    width: 97px; height: 29px;
    background: url('../img/sprites-icons.png') -409px -307px;
}
.bg-10_nimble_icon {
    width: 154px; height: 154px;
    background: url('../img/sprites-icons.png') -1px -374px;
}
.bg-18_blue {
    width: 170px; height: 170px;
    background: url('../img/sprites-icons.png') -1px -1px;
}
.bg-18_orange {
    width: 134px; height: 133px;
    background: url('../img/sprites-icons.png') -737px -1px;
}
.bg-18_sdg_circle {
    width: 134px; height: 133px;
    background: url('../img/sprites-icons.png') -737px -136px;
}
.bg-18_wine {
    width: 134px; height: 134px;
    background: url('../img/sprites-icons.png') -581px -313px;
}
.bg-10_accountable_icon {
    width: 154px; height: 154px;
    background: url('../img/sprites-icons.png') -157px -374px;
}
.bg-10_collaboration_icon {
    width: 154px; height: 154px;
    background: url('../img/sprites-icons.png') -313px -374px;
}
.bg-10_faster_icon {
    width: 154px; height: 154px;
    background: url('../img/sprites-icons.png') -581px -1px;
}
.bg-10_financially_icon {
    width: 154px; height: 154px;
    background: url('../img/sprites-icons.png') -581px -157px;
}

// logos & maps
.bg-27_future_edge_icon {
    width: 180px; height: 180px;
    background: url('../img/sprites-logos2.png') -1px -1px;
}
.bg-27_global_health_icon {
    width: 180px; height: 180px;
    background: url('../img/sprites-logos2.png') -183px -1px;
}
.bg-27_iati_icon {
    width: 180px; height: 180px;
    background: url('../img/sprites-logos2.png') -1px -183px;
}
.bg-Image_3 {
    width: 136px; height: 102px;
    background: url('../img/sprites-logos2.png') -1px -722px;
}
.bg-05_the_bar_circle {
    width: 150px; height: 152px;
    background: url('../img/sprites-logos2.png') -547px -130px;
}
.bg-17_poverty_sdg_icons {
    width: 142px; height: 29px;
    background: url('../img/sprites-logos2.png') -644px -722px;
}
.bg-17_puzzle_icon {
    width: 100px; height: 99px;
    background: url('../img/sprites-logos2.png') -891px -613px;
}
.bg-17_sheild_icon {
    width: 100px; height: 98px;
    background: url('../img/sprites-logos2.png') -1px -826px;
}
.bg-17_yemen_icon {
    width: 100px; height: 99px;
    background: url('../img/sprites-logos2.png') -891px -714px;
}
.bg-18_TLS_logo_07 {
    width: 79px; height: 85px;
    background: url('../img/sprites-logos2.png') -681px -284px;
}
.bg-19_argentina {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -267px -459px;
}
.bg-19_eu {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -393px -459px;
}
.bg-19_gef {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -519px -459px;
}
.bg-19_germany {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -1px -593px;
}
.bg-19_global_fund {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -127px -593px;
}
.bg-19_italy {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -253px -593px;
}
.bg-19_japan {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -640px -1px;
}
.bg-19_mission_logo_blue {
    width: 169px; height: 78px;
    background: url('../img/sprites-logos2.png') -348px -365px;
}
.bg-19_netherlands {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -379px -593px;
}
.bg-19_norway {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -505px -593px;
}
.bg-19_sweden {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -631px -593px;
}
.bg-19_switzerland {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -765px -1px;
}
.bg-19_uk {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -765px -130px;
}
.bg-19_ukraine {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -765px -259px;
}
.bg-19_us {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -765px -388px;
}
.bg-19_world {
    width: 124px; height: 127px;
    background: url('../img/sprites-logos2.png') -765px -517px;
}
.bg-20_adb_icon {
    width: 62px; height: 63px;
    background: url('../img/sprites-logos2.png') -993px -624px;
}
.bg-20_bndes_icon {
    width: 132px; height: 134px;
    background: url('../img/sprites-logos2.png') -547px -284px;
}
.bg-20_caribbean_dev_icon {
    width: 131px; height: 132px;
    background: url('../img/sprites-logos2.png') -1px -459px;
}
.bg-20_european_invest_icon {
    width: 131px; height: 132px;
    background: url('../img/sprites-logos2.png') -134px -459px;
}
.bg-20_idb_icon {
    width: 90px; height: 36px;
    background: url('../img/sprites-logos2.png') -250px -775px;
}
.bg-20_isdb_icon {
    width: 82px; height: 43px;
    background: url('../img/sprites-logos2.png') -765px -646px;
}
.bg-20_kfw_icon {
    width: 83px; height: 30px;
    background: url('../img/sprites-logos2.png') -342px -775px;
}
.bg-20_world_bank_icon {
    width: 78px; height: 40px;
    background: url('../img/sprites-logos2.png') -681px -371px;
}
.bg-21_sdg_impact_logo {
    width: 345px; height: 92px;
    background: url('../img/sprites-logos2.png') -1px -365px;
}
.bg-22_mptf_logo {
    width: 188px; height: 51px;
    background: url('../img/sprites-logos2.png') -250px -722px;
}
.bg-22_uncdf_logo {
    width: 68px; height: 74px;
    background: url('../img/sprites-logos2.png') -993px -548px;
}
.bg-22_unossc_logo {
    width: 202px; height: 45px;
    background: url('../img/sprites-logos2.png') -440px -722px;
}
.bg-22_unvolunteer_logo {
    width: 167px; height: 30px;
    background: url('../img/sprites-logos2.png') -547px -420px;
}
.bg-23_biodiversity_icon {
    width: 96px; height: 96px;
    background: url('../img/sprites-logos2.png') -103px -826px;
}
.bg-23_data_icon {
    width: 109px; height: 96px;
    background: url('../img/sprites-logos2.png') -139px -722px;
}
.bg-23_iheart_icon {
    width: 96px; height: 96px;
    background: url('../img/sprites-logos2.png') -201px -826px;
}
.bg-23_lionshare_icon {
    width: 96px; height: 96px;
    background: url('../img/sprites-logos2.png') -299px -826px;
}
.bg-23_microsoft_icon {
    width: 96px; height: 96px;
    background: url('../img/sprites-logos2.png') -397px -826px;
}
.bg-23_samsung_icon {
    width: 96px; height: 96px;
    background: url('../img/sprites-logos2.png') -495px -826px;
}
.bg-23_sco_icon {
    width: 96px; height: 96px;
    background: url('../img/sprites-logos2.png') -593px -826px;
}
.bg-23_ticad_icon {
    width: 96px; height: 96px;
    background: url('../img/sprites-logos2.png') -691px -826px;
}
.bg-26_canada {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -789px -826px;
}
.bg-26_denmark {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -868px -826px;
}
.bg-26_focusing_icon {
    width: 100px; height: 100px;
    background: url('../img/sprites-logos2.png') -891px -1px;
}
.bg-26_germany {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -993px -1px;
}
.bg-26_interagency_icon {
    width: 100px; height: 100px;
    background: url('../img/sprites-logos2.png') -891px -103px;
}
.bg-26_japan {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -665px -471px;
}
.bg-26_mobilizing_icon {
    width: 100px; height: 100px;
    background: url('../img/sprites-logos2.png') -891px -205px;
}
.bg-26_multiplying_icon {
    width: 100px; height: 100px;
    background: url('../img/sprites-logos2.png') -891px -307px;
}
.bg-26_netherlands {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -993px -80px;
}
.bg-26_norway {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -993px -159px;
}
.bg-26_providing_icon {
    width: 100px; height: 100px;
    background: url('../img/sprites-logos2.png') -891px -409px;
}
.bg-26_responding_icon {
    width: 100px; height: 100px;
    background: url('../img/sprites-logos2.png') -891px -511px;
}
.bg-26_sweden {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -993px -238px;
}
.bg-26_switzerland {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -993px -317px;
}
.bg-26_uk {
    width: 71px; height: 71px;
    background: url('../img/sprites-logos2.png') -993px -475px;
}
.bg-26_us {
    width: 77px; height: 77px;
    background: url('../img/sprites-logos2.png') -993px -396px;
}
.bg-27_apolitical_icon {
    width: 180px; height: 180px;
    background: url('../img/sprites-logos2.png') -183px -183px;
}
.bg-27_best_practice_icon {
    width: 180px; height: 180px;
    background: url('../img/sprites-logos2.png') -365px -1px;
}
.bg-27_cannes_icon {
    width: 180px; height: 180px;
    background: url('../img/sprites-logos2.png') -365px -183px;
}

// 2020 Sprites

.icon_02 {
    background: url('../img/02-icon-sprite.png') no-repeat top left;

    @include breakpoint(retina) {
        background: url('../img/02-icon-sprite@2x.png') no-repeat top left;
        background-size: 556px 407px;
    }

    &.icon_02_vote {
        background-position: 0 0;
        width: 118px;
        height: 122px;
    }
    &.icon_02_parity {
        background-position: -119px 0;
        width: 113px;
        height: 104px;
    }
    &.icon_02_financial {
        background-position: 0 -123px;
        width: 127px;
        height: 90px;
    }
    &.icon_02_leaf {
        background-position: -233px 0;
        width: 123px;
        height: 92px;
    }
    &.icon_02_sdgs {
        background-position: -233px -93px;
        width: 113px;
        height: 100px;
    }
    &.icon_02_justice {
        background-position: 0 -214px;
        width: 107px;
        height: 101px;
    }
    &.icon_02_covid {
        background-position: -108px -214px;
        width: 110px;
        height: 95px;
    }
    &.icon_02_people {
        background-position: -357px 0;
        width: 97px;
        height: 105px;
    }
    &.icon_02_computer {
        background-position: -219px -214px;
        width: 110px;
        height: 92px;
    }
    &.icon_02_countries {
        background-position: 0 -316px;
        width: 107px;
        height: 90px;
    }
    &.icon_02_women {
        background-position: -108px -316px;
        width: 113px;
        height: 85px;
    }
    &.icon_02_dollars {
        background-position: -222px -316px;
        width: 116px;
        height: 81px;
    }
    &.icon_02_ranked {
        background-position: -455px 0;
        width: 100px;
        height: 93px;
    }
    &.icon_02_target {
        background-position: -455px -94px;
        width: 89px;
        height: 99px;
    }
    &.icon_02_government {
        background-position: -128px -123px;
        width: 102px;
        height: 86px;
    }
    &.icon_02_protection {
        background-position: -455px -194px;
        width: 94px;
        height: 86px;
    }
}

.icon_04 {
    background: url('../img/04-icon-sprite.png') no-repeat top left;

    @include breakpoint(retina) {
        background: url('../img/04-icon-sprite@2x.png') no-repeat top left;
        background-size: 391px 996px;
    }

    &.building-icon {
        background-position: 0 0;
        width: 72px;
        height: 68px;
    }
    &.doctor-icon {
        background-position: 0 -78px;
        width: 80px;
        height: 73px;
    }
    &.government-icon {
        background-position: 0 -161px;
        width: 125px;
        height: 125px;
    }
    &.medical-icon {
        background-position: 0 -296px;
        width: 91px;
        height: 83px;
    }
    &.mental-icon {
        background-position: 0 -389px;
        width: 85px;
        height: 68px;
    }
    &.money-icon {
        background-position: 0 -467px;
        width: 97px;
        height: 62px;
    }
    &.protect-icon {
        background-position: 0 -539px;
        width: 125px;
        height: 125px;
    }
    &.suitcase-icon {
        background-position: 0 -674px;
        width: 85px;
        height: 64px;
    }
    &.transfers-icon {
        background-position: 0 -748px;
        width: 66px;
        height: 68px;
    }
    &.wash-icon {
        background-position: 0 -826px;
        width: 74px;
        height: 72px;
    }
    &.worker-icon {
        background-position: 0 -908px;
        width: 89px;
        height: 78px;
    }
}

.icon_11 {
    background: url('../img/11-icon-sprite.png') no-repeat top left;

    @include breakpoint(retina) {
        background: url('../img/11-icon-sprite@2x.png') no-repeat top left;
        background-size: 184px 2626px;
    }

    &.energy-co2 {
        background-position: 0 0;
        width: 127px;
        height: 127px;
    }
    &.energy-globe {
        background-position: 0 -137px;
        width: 127px;
        height: 127px;
    }
    &.energy-sdgs {
        background-position: 0 -274px;
        width: 184px;
        height: 25px;
    }
    &.energy-windmill {
        background-position: 0 -309px;
        width: 131px;
        height: 131px;
    }
    &.environment-dolphin {
        background-position: 0 -450px;
        width: 125px;
        height: 125px;
    }
    &.environment-money {
        background-position: 0 -585px;
        width: 136px;
        height: 136px;
    }
    &.environment-sdg-icons {
        background-position: 0 -731px;
        width: 184px;
        height: 32px;
    }
    &.environment-temperature {
        background-position: 0 -773px;
        width: 121px;
        height: 121px;
    }
    &.gender-document {
        background-position: 0 -904px;
        width: 132px;
        height: 132px;
    }
    &.gender-sdgs {
        background-position: 0 -1046px;
        width: 184px;
        height: 27px;
    }
    &.gender-shield {
        background-position: 0 -1083px;
        width: 141px;
        height: 141px;
    }
    &.gender-vote {
        background-position: 0 -1234px;
        width: 113px;
        height: 113px;
    }
    &.gov-sdg-icons {
        background-position: 0 -1357px;
        width: 156px;
        height: 29px;
    }
    &.governance-building-icon {
        background-position: 0 -1396px;
        width: 111px;
        height: 111px;
    }
    &.governance-parliament-icon {
        background-position: 0 -1517px;
        width: 108px;
        height: 108px;
    }
    &.governance-vote-icon {
        background-position: 0 -1635px;
        width: 99px;
        height: 99px;
    }
    &.poverty-file-icon {
        background-position: 0 -1744px;
        width: 105px;
        height: 105px;
    }
    &.poverty-gear-icon {
        background-position: 0 -1859px;
        width: 132px;
        height: 132px;
    }
    &.poverty-hand-icon {
        background-position: 0 -2001px;
        width: 111px;
        height: 111px;
    }
    &.poverty-sdg-icons {
        background-position: 0 -2122px;
        width: 160px;
        height: 29px;
    }
    &.resilience-dove {
        background-position: 0 -2161px;
        width: 135px;
        height: 135px;
    }
    &.resilience-fist {
        background-position: 0 -2306px;
        width: 129px;
        height: 129px;
    }
    &.resilience-sdg-icons {
        background-position: 0 -2445px;
        width: 155px;
        height: 29px;
    }
    &.resilience-women {
        background-position: 0 -2484px;
        width: 132px;
        height: 132px;
    }

}