<div class="grid-y grid-frame align-center cover section-00-cover" id="toc0" data-magellan-target="toc0">
  <video loop muted autoplay>
    <source src="{{@root.root}}assets/img/sp-hero.mp4"
            type="video/mp4">
    Your browser does not support the HTML5 video element
  </video>
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x">
        <div class="small-12 medium-8 medium-offset-1 cell">
          <div class="overline">{{labels.undplong}}</div>
          <h1>{{{0-cover.title}}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="scroller">
    <a href="#toc1" data-smooth-scroll>
      <img src="{{@root.root}}assets/img/chevron.svg" width="45" alt="">
    </a>
  </div>
</div>
