<div class="blue-gradient padded">

  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="small-12 medium-6 cell text-center">
        <h2>{{02-undp2020.title}}</h2>
        <h3>{{02-undp2020.subtitle}}</h3>
        <p>&nbsp;</p>
      </div>
      <div class="cell text-center container">

        <!-- Slider main container -->
        <div data-shadow-class="swiper-container" data-swiperjs>
          <!-- Additional required wrapper -->
          <div class="grid-x grid-padding-x medium-up-3 large-up-5 align-center" data-shadow-class="swiper-wrapper" data-equalizer data-equalize-on="large" data-equalize-by-row="true">
              <!-- Slides -->
              {{#each 02-undp2020.cards}}
              <div class="cell" data-shadow-class="swiper-slide">
                <p data-equalizer-watch>
                  <img src="{{{../labels.blank}}}" class="icon_02 {{class}}" alt="">
                </p>
                <div>{{lead}}</div>
                <div class="lead uppercase text-bold">{{{title}}}</div>
                <p>{{subtitle}}</p>
              </div>
              {{/each}}
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>

</div>
