<div class="section-2-strategic-context padded">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 medium-6 medium-offset-1 cell">
        <h2>{{2-strategicContext.title}}</h2>
        <h3>{{2-strategicContext.subtitle}}</h3>
        {{{2-strategicContext.text}}}
      </div>
      <div class="small 12 medium-10 medium-offset-1 cell text-center container padded">
        <!-- Slider main container -->
        <div data-shadow-class="swiper-container" data-swiperjs>
          <!-- Additional required wrapper -->
          <div class="grid-x grid-padding-x medium-up-4 align-center" data-shadow-class="swiper-wrapper" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
              <!-- Slides -->
              {{#each 2-strategicContext.modules}}
              <div class="cell module" data-shadow-class="swiper-slide module">
                <div data-equalizer-watch>
                  <img 
                    src="{{@root.root}}assets/img/{{icon}}.svg"
                    alt="">
                </div>
                <div class="lead">{{lead}}</div>
                <div class="title">{{{title}}}</div>
                <p class="smallText">{{text}}</p>
              </div>
              {{/each}}
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>

</div>
