<div class="section-3-what-we-do grid-container padded" id="toc2" data-magellan-target="toc2">
  <div class="grid-x grid-padding-x section">
    <div class="cell small-12 medium-6 medium-offset-1">
      <h2>{{3-whatWeDo.title}}</h2>
      <h3>{{3-whatWeDo.subtitle}}</h3>
    </div>
    <div class="cell small-12">
      <img alt="" 
          src="{{@root.root}}assets/img/3-infographic-{{lang}}.svg" 
          class="lazyload show-for-medium infographic" >
      <img alt="" 
          src="{{@root.root}}{{labels.blank}}"
          data-src="{{@root.root}}assets/img/3-infographic-{{lang}}-mobile.jpg"
          data-srcset="{{@root.root}}assets/img/3-infographic-{{lang}}-mobile@2x.jpg 2x" 
          class="lazyload show-for-small-only infographic">
    </div>
    <div>
      [INSERT 3x6x3 HERE]
    </div>
  </div>
</div>

