<div class="grid-container" id="toc2" data-magellan-target="toc2">
  <div class="grid-x grid-padding-x section">
    <div class="cell small-12 medium-6">
      <h2>{{03-macro-micro.title}}</h2>
      <h3>{{03-macro-micro.subtitle}}</h3>
      {{{03-macro-micro.text}}}
    </div>
    <div class="cell medium-5 small-12 medium-offset-1 text-right">
      <img alt="{{03-macro-micro.icon.alt}}" src="{{@root.root}}{{labels.blank}}" 
          data-src="{{@root.root}}assets/img/03-macro-icon.jpg" 
          data-srcset="{{@root.root}}assets/img/03-macro-icon@2x.jpg 2x"
          class="lazyload show-for-medium"
          style="margin-bottom: 1rem;">

      <figure>
        <img alt="{{03-macro-micro.image.alt}}" src="{{@root.root}}{{labels.blank}}" 
          data-src="{{@root.root}}assets/img/03-photo-macro.jpg" 
          data-srcset="{{@root.root}}assets/img/03-photo-macro@2x.jpg 2x"
          class="lazyload">
        <figcaption>{{{03-macro-micro.image.caption}}}</figcaption>
      </figure>
    </div>
  </div>
</div>

