<div class="section-05-sdgs padded section">
  <div class="grid-container">
    <div class="grid-x grid-padding-x section">
      <div class="small-12 cell">
        <h2>{{05-sdgs.title}}</h2>
        <h3>{{05-sdgs.subtitle}}</h3>
        {{{05-sdgs.text}}}
      </div>
    </div>
    <img alt="{{05-macro-micro.icon.alt}}" src="{{@root.root}}{{labels.blank}}" 
            data-src="{{@root.root}}assets/img/05-sdg-icon.png" 
            data-srcset="{{@root.root}}assets/img/05-sdg-icon@2x.png 2x"
            class="lazyload sdgIcon-05">
  </div>
</div>