<div class="section-4-partnerships padded" id="toc4" data-magellan-target="toc4">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-middle section">
      <div class="small-12 medium-6 small-order-2 medium-order-1 cell">
        <img alt=""
            src="{{@root.root}}{{labels.blank}}"
            data-src="{{@root.root}}assets/img/4-partnerships-graphic-{{lang}}.png"
            data-srcset="{{@root.root}}assets/img/4-partnerships-graphic-{{lang}}@2x.png 2x" width="826" height="539"
            class="graphic lazyload">
      </div>
      <div class="small-12 medium-5 small-order-1 medium-order-2 cell">
        <h2>{{4-partnerships.title}}</h2>
        <h3>{{4-partnerships.subtitle}}</h3>
        {{{4-partnerships.text}}}
      </div>
    </div>
  </div>
</div>
