<div class="section-5-unsystem padded" id="toc5" data-magellan-target="toc5">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 medium-6 medium-offset-1 cell">
        <h2>{{5-unSystem.title}}</h2>
        <h3>{{5-unSystem.subtitle}}</h3>
        {{{5-unSystem.text}}}
      </div>
    </div>
  </div>
  <div class="modules section">
    {{#each 5-unSystem.modules}}
    <div class="module">
      <img
        class="icon"
        src="{{@root.root}}assets/img/{{icon}}.svg"
        alt="">
      {{ text }}
    </div>
    {{/each}}
  </div>
</div>
