<div class="topBorder"></div>
<div class="section-6-betterneverstops padded" id="toc6" data-magellan-target="toc6">
  <div class="grid-container">
    <div class="grid-x grid-padding-x section">
      <div class="small-12 medium-9 large-5 medium-offset-1 cell">
        <h2>{{6-betterneverstops.title}}</h2>
        <h3>{{6-betterneverstops.subtitle}}</h3>
        {{{6-betterneverstops.text}}}
      </div>
    </div>
    <div class="grid-x grid-padding-x section">
      <div class="small-12 medium-9 large-5 medium-offset-1 cell">
        {{#each 6-betterneverstops.lessons}}
        <div class="row">
          <img
            src="{{@root.root}}assets/img/{{icon}}.svg"
            alt="">
          <h3>{{text}}</h3>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="arrowGraphic">
    <div class="arrowGraphic__tail"></div>
    <img alt="arrowGraphic__graphic"
      src="{{@root.root}}{{labels.blank}}"
      data-src="{{@root.root}}assets/img/6-graphic.png"
      data-srcset="{{@root.root}}assets/img/6-graphic@2x.png 2x"
      class="lazyload">
  </div>
</div>
