<div class="section-09-hdr padded" id="toc5" data-magellan-target="toc5">
  <div class="grid-container">
    <div class="grid-x grid-padding-x section">
      <div class="small-12 medium-6 cell">
        <h2>{{{09-hdr.title}}}</h2>
        <h3>{{{09-hdr.subtitle}}}</h3>
        {{{09-hdr.text}}}
      </div>
      <figure class="medium-6">
        <img alt="{{09-hdr.img.alt}}" src="{{@root.root}}{{labels.blank}}" 
              data-src="{{@root.root}}assets/img/09-hdr-cover.png" 
              data-srcset="{{@root.root}}assets/img/09-hdr-cover@2x.png 2x"
              class="lazyload">
      </figure>
    </div>
  </div>
</div>