<footer class="dark-blue padded">
    <div class="grid-container">
      <div class="grid-x align-center-middle">
        <div class="small-2 large-1 cell">
          <a href="https://www.undp.org">
            <img src="{{@root.root}}assets/img/{{logo-white}}" width="42" alt="{{labels.undp}} logo">
          </a>
        </div>
        <div class="large-auto cell download show-for-large">
          <div class="button-group">
            <a class="button" href="{{@root.root}}assets/UNDP-Annual-Report-2020-en.pdf">{{labels.downloadreport}}</a>
            <a class="button" href="{{@root.root}}assets/UNDP-Annual-Report-2020-en.pdf">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1rem" height="1rem" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M24.59 16.59L17 24.17V2h-2v22.17l-7.59-7.58L6 18l10 10l10-10l-1.41-1.41z" fill="#FFFFFF"/></svg>
            </a>
          </div>
        </div>
        <div class="show-for-medium medium-8 large-4 cell">
          <ul class="menu expanded">
          <li>
            <a href="https://twitter.com/UNDP" target="_blank">
              <img src="{{@root.root}}assets/img/29-icon-twitter.svg" width="33" alt="Twitter">
            </a>
          </li>
          <li>
            <a href="https://facebook.com/UNDP" target="_blank">
              <img src="{{@root.root}}assets/img/29-icon-facebook.svg" width="16" alt="Facebook">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/UNDP/" target="_blank">
              <img src="{{@root.root}}assets/img/29-icon-linkedin.svg" width="33" alt="LinkedIn">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/UNDP/" target="_blank">
              <img src="{{@root.root}}assets/img/29-icon-instagram.svg" width="33" alt="Instagram">
            </a>
          </li>
        </ul>
        </div>
      </div>
    </div>
</footer>
  