<footer>

  <div class="grid-container">

    <div class="grid-x grid-margin-x">
      <div class="small-12 large-6 cell logo">
        <a href="https://www.undp.org"><img src="{{@root.root}}assets/img/{{logo-white}}" alt="{{labels.undp}} logo"></a>
        <div class="title">
          {{labels.undplong}}
        </div>
      </div>
      <div class="small-12 large-6 cell sm">
        <ul class="expanded menu">
          <li><a href="https://www.facebook.com/UNDP" target="_blank"><img src="{{@root.root}}assets/img/Facebook@2x.png" alt=""></a></li>
          <li><a href="https://twitter.com/UNDP/" target="_blank"><img src="{{@root.root}}assets/img/Twitter@2x.png" alt=""></a></li>
          <li><a href="https://www.instagram.com/UNDP/" target="_blank"><img src="{{@root.root}}assets/img/Instagram@2x.png" alt=""></a></li>
          <li><a href="https://www.linkedin.com/company/undp/" target="_blank"><img src="{{@root.root}}assets/img/Linkedin@2x.png" alt=""></a></li>
          <li><a href="https://www.youtube.com/UNDP/" target="_blank"><img src="{{@root.root}}assets/img/Youtube@2x.png" alt=""></a></li>
        </ul>
      </div>
      <div class="cell copyright">
        <hr>
        <p>
          Copyright &copy; {{labels.undp}} 2021
        </p>
      </div>
    </div>

  </div>

</footer>
