<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{this.gtm}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-2 medium-1 cell">
        <a href="https://www.undp.org">
          <img src="{{@root.root}}assets/img/{{logo-white}}" width="42" alt="{{labels.undp}} logo">
        </a>
      </div>
      <div class="auto cell download">
        <div class="button-group">
          <a class="button" href="{{@root.root}}assets/UNDP-Annual-Report-2020-{{lang}}.pdf">{{labels.downloadreport}}</a>
          <a class="button" href="{{@root.root}}assets/UNDP-Annual-Report-2020-{{lang}}.pdf">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1rem" height="1rem" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M24.59 16.59L17 24.17V2h-2v22.17l-7.59-7.58L6 18l10 10l10-10l-1.41-1.41z" fill="#FFFFFF"/></svg>
          </a>
        </div>
      </div>
      <div class="medium-2 small-10 cell">
        <ul class="dropdown menu align-right" data-dropdown-menu>
          <li class="menu-text"></li>
          <li>
            <a href="#"><img src="{{@root.root}}assets/img/0-languages-icon.svg" width="46" alt=""></a>
            <ul class="menu align-right">
              <li><a href="{{@root.root}}assets/UNDP-Annual-Report-2020-ar.pdf" dir="rtl" lang="ar"><img src="{{@root.root}}assets/img/0-pdf.svg" height="12" alt="" class="pdf"> عربي </a></li>
              <li><a href="{{@root.root}}assets/UNDP-Annual-Report-2020-zh.pdf" lang="zh">中文 <img src="{{@root.root}}assets/img/0-pdf.svg" height="12" alt="" class="pdf"></a></li>
              <li><a href="{{@root.root}}" lang="en"><b>English</b></a></li>
              <li><a href="{{@root.root}}fr/" lang="fr"><b>Français</b></a></li>
              <li><a href="{{@root.root}}assets/UNDP-Annual-Report-2020-ru.pdf" lang="ru">Русский <img src="{{@root.root}}assets/img/0-pdf.svg" height="12" alt="" class="pdf"></a></li>
              <li><a href="{{@root.root}}es/" lang="es"><b>Español</b></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

</header>
