{{> 0-cover}}

<main class="off-canvas-wrapper" id="main" data-sticky-container>

  <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">

    <div class="grid-y grid-frame">
      <!-- Close button -->
      <button class="menu-toggle" data-toggle="offCanvas" aria-label="close menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 86 86"><defs><style>.a,.b,.c{fill:#252d40;}.a{opacity:0.1;}.b{opacity:0.235;}.d{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:3px;}</style></defs><g transform="translate(-22 -828)"><path class="a" d="M42.972,0A42.972,42.972,0,1,1,0,42.972,42.972,42.972,0,0,1,42.972,0Z" transform="translate(22 828)"/><path class="b" d="M36.526,0A36.526,36.526,0,1,1,0,36.526,36.526,36.526,0,0,1,36.526,0Z" transform="translate(28.5 834.5)"/><path class="c" d="M29,0A29,29,0,1,1,0,29,29,29,0,0,1,29,0Z" transform="translate(36 842)"/><path class="d" d="M1597.578,142.634l8.81,8.81,8.81-8.81" transform="translate(-81 2477.732) rotate(-90)"/></g></svg>
      </button>
      <div class="auto cell">
        <!-- Menu -->
        <ul class="vertical expanded menu" id="menu" data-magellan data-threshold="100">
          {{#each menu}}
          <li><a href="#toc{{@index}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </div>
      <div class="shrink cell">
        <!-- Social media -->
        <div class="primary large button-group no-gaps expanded">
          <a class="button" href="https://twitter.com/UNDP" target="_blank">
            <img src="{{@root.root}}assets/img/29-icon-twitter.svg" height="32" alt="Twitter">
          </a>
          <a class="button" href="https://facebook.com/UNDP" target="_blank">
            <img src="{{@root.root}}assets/img/29-icon-facebook.svg" height="32" alt="Facebook">
          </a>
          <a class="button" href="https://www.linkedin.com/company/UNDP/" target="_blank">
            <img src="{{@root.root}}assets/img/29-icon-linkedin.svg" height="32" alt="LinkedIn">
          </a>
          <a class="button" href="https://www.instagram.com/UNDP/" target="_blank">
            <img src="{{@root.root}}assets/img/29-icon-instagram.svg" height="32" alt="Instagram">
          </a>
        </div>
      </div>
    </div>


  </div>

  <div class="off-canvas-content" data-off-canvas-content>

    <div class="sticky" data-sticky data-anchor="main" data-margin-top="0" data-sticky-on="small">
      <button class="menu-toggle" data-toggle="offCanvas" aria-label="toggle menu">
        <span class="hide-for-large"></span>
        <div class="show-for-large">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 86 86"><defs><style>.a,.b,.c{fill:#252d40;}.a{opacity:0.1;}.b{opacity:0.235;}.d{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:3px;}</style></defs><g transform="translate(-22 -828)"><path class="a" d="M42.972,0A42.972,42.972,0,1,1,0,42.972,42.972,42.972,0,0,1,42.972,0Z" transform="translate(22 828)"/><path class="b" d="M36.526,0A36.526,36.526,0,1,1,0,36.526,36.526,36.526,0,0,1,36.526,0Z" transform="translate(28.5 834.5)"/><path class="c" d="M29,0A29,29,0,1,1,0,29,29,29,0,0,1,29,0Z" transform="translate(36 842)"/><path class="d" d="M1597.578,142.634l8.81,8.81,8.81-8.81" transform="translate(-81 2477.732) rotate(-90)"/></g></svg>
        </div>
      </button>
    </div>

    {{> 1-foreword }}

    {{> 2-strategic-context }}

    {{> 3-what-we-do }}

    {{> 3.1-directions-of-change }}

    {{> 3.2-signature-solutions }}

    {{> 3.3-enablers }}

    {{> 4-global-partnerships }}

    {{> 5-un-system }}

    {{> 6-better-never-stops }}

    {{> 7-global-regional-local }}

  </div>

</main>
